.blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .admin-blog-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            margin-left: 15px;
            cursor: pointer;
        }
    }

    .new-blog-link {
        position: fixed;
        right: 0;
        top: 5;

        a {
            font-size: 3em;
            cursor: pointer;
            color: $teal;
            margin-right: 35px;
            transition: 0.4s ease-in-out;

            &:hover {
                color: $dark-teal
            }
        }
    }

    .content-container {
        display: flex;
        flex-direction: column;
        width: 50%;

        a {
            text-decoration: none;
            color: $teal;
            transition: 0.5s ease-in-out;

            &:hover {
                color: $dark-teal;
            }
        }

        h1 {
            font-size: 2em;
        }

        .featured-image-wrapper{
            display: flex;
            justify-content: center;

            img{
                margin: 15px 0px;
                width: 75%;
                height: 100%;
                border-radius: 10px;
                object-fit: cover;
            }
        }
    }
}